body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    background-image: url("C:\Users\91974\Desktop\book your court\book\assets\football-image.png"); /* Adjust the path as needed */
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    /* Add other styles as needed */
  }
  
    
  
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f0f0f0;
    height: 300PX; /* Adjust the height as needed */
  }
  
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
 

.logout-button {
    background-color: #ff0000; /* Customize the color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px; /* Adjust the spacing as needed */
  }
  
  
  .user-details {
    margin-left: auto;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #333; /* Add a background color */
    border-radius: 5px; /* Add border-radius for rounded corners */
  }
  